---
layout: layouts/base.njk
theme: light
title: PRINTS
metaImage: /images/prints.jpg
---
<div class="container px-4">
  <h2 class="font-italic"><span class="lcl" data-lcl="prints">{{{ defaultLocale 'prints' }}}</span></h2>
  <p id="printsTags" class="lead text-uppercase font-italic">
    {{#each config.prints}}
      <a href="#{{this.category}}" class="mr-2">#{{this.category}}</a>
    {{/each}}
  </p>
</div>
<div class="container px-4 pb-4 d-flex flex-wrap justify-content-center">
  <div id="prints" class="d-flex justify-content-center flex-wrap">
    {{#each config.prints}}
      <a name="{{this.category}}" class="print-tag m-4 lead text-uppercase">
        <div class="h-100 d-flex justify-content-center align-items-center font-weight-bold">
          <span class="bg-dark text-white px-2">{{this.category}}</span>
          <i class="fas fa-arrow-right fa-lg ml-2" aria-hidden="true"></i>
        </div>
      </a>
      {{#each this.images}}
        <div class="print-frame print-frame-thumb print-frame-dark m-4">
          <div class="print-mat">
            <div class="print-image">
              <img src="/images/photography{{this}}" alt="" />
              <div class="print-image-shadow"></div>
            </div>
          </div>
        </div>
      {{/each}}
    {{/each}}
  </div>
  <div class="mt-4 d-none js-print-dashboard">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-4 d-flex align-items-center">
            <div class="text-nowrap lcl" data-lcl="frame">{{{ defaultLocale 'frame' }}}</div>
          </div>
          <div class="col-8 d-flex align-items-center">
            <button type="button" class="btn btn-light btn-sm btn-color rounded-circle border js-print-frame" data-color="light"></button>
            <button type="button" class="btn btn-dark btn-sm btn-color rounded-circle ml-2 js-print-frame" data-color="dark"></button>
          </div>
        </div>

        <div class="row">
          <div class="col-4 d-flex align-items-center">
            <div class="text-nowrap lcl" data-lcl="size">{{{ defaultLocale 'size' }}}</div>
          </div>
          <div class="col-8 d-flex align-items-center">
            <div class="btn-group btn-group-sm btn-group-toggle js-print-size" data-toggle="buttons">
              <label class="btn btn-primary lcl" data-lcl="size50x70" data-lcl-attr="data-original-title" data-toggle="tooltip" data-placement="top" data-offset="0,10">
                <input type="radio" name="size" autocomplete="off" value="50x70"> 50x70
              </label>
              <label class="btn btn-primary lcl active" data-lcl="size61x91" data-lcl-attr="data-original-title" data-toggle="tooltip" data-placement="top" data-offset="0,10">
                <input type="radio" name="size" autocomplete="off" value="61x91" checked="checked"> 61x91
              </label>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center my-3 lead js-print-price">
          💸&nbsp;
          <span class="d-none lcl" data-lcl="price50x70">{{{ defaultLocale 'price50x70' }}}</span>
          <span class="lcl" data-lcl="price61x91">{{{ defaultLocale 'price61x91' }}}</span>
        </div>

        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary btn-sm text-light js-print-cancel">
            <span class="lcl" data-lcl="back">{{{ defaultLocale 'back' }}}</span>
          </button>
          <button type="button" class="btn btn-primary btn-sm text-light" data-toggle="modal" data-target="#newOrderModal">
            <span class="lcl" data-lcl="next">{{{ defaultLocale 'next' }}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order modal -->
<div class="modal fade text-body" id="newOrderModal" tabindex="-1" role="dialog" aria-labelledby="newOrder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Новый заказ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="js-print-order-form" novalidate>
          <div class="form-group">
            <label for="email" class="col-form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="your@mail.com" required>
          </div>
          <div class="form-group">
            <label for="contact" class="col-form-label">Контактная информация</label>
            <textarea class="form-control" name="contact" rows="5" placeholder="Напишите сюда способ доставки. Это может быть самовывоз или встреча в Москве, либо доставка курьером по вашему адресу (оплачивается отдельно)." required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
        <button type="button" class="btn btn-primary js-print-order">
          <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
          <span>Заказать</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="newOrderSuccess" class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Новый заказ</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body text-body">
    Спасибо! Ваш заказ успешно создан.
  </div>
</div>
<div id="newOrderError" class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto text-danger">Ошибка</strong>
    <button type="button" class="ml-2 mb-1 close text-danger" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body text-danger">
    При создании заказа произошла ошибка. Попробуйте позднее.
  </div>
</div>
<!-- Order modal -->
