<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <meta property='og:title' content='{{config.name}}' />
    <meta property='og:description' content='{{title}}' />
    {{#if metaImage}}
      <meta property='og:image' content='{{metaImage}}' />
    {{/if}}
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <title>{{config.name}} — {{title}}</title>
    <link href='/styles/index.css' rel='stylesheet' />
    <link href='/styles/main.css' rel='stylesheet' />
    {{#each pageStyle}}
      <link href='{{this}}' rel='stylesheet' />
    {{/each}}
  </head>

  <body class='bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-2Z9W2X70C5'></script>
    <script>
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date()); gtag('config', 'G-2Z9W2X70C5');
    </script>

    <a class='absolute left-5 top-5 text-xl z-10' href='/'>
      <span class='logo font-family-retro text-black text-opacity-20'>{{config.name}}</span>
    </a>

    {{{content}}}

    <div class='flex fixed bottom-4 right-4 z-10'>
      <div class='bg-zinc-50 dark:bg-zinc-900 rounded-xl opacity-50 hover:opacity-80 cursor-pointer px-2 py-1 js-locale'>
        <i class='fas fa-globe' aria-hidden='true'></i>
        {{{locale 'localeToggle'}}}
      </div>
    </div>

    <script src='/scripts/jquery-3.1.1.min.js'></script>
    <script src='/scripts/bootstrap.bundle.min.js'></script>
    <script src='/scripts/index.js'></script>
    {{#each pageScript}}
      <script src='{{this}}'></script>
    {{/each}}
  </body>

</html>
