---
layout: layouts/special.njk
theme: light
title: Along the West Coast
metaImage: /images/photography/westcoast/splash.jpg
pageStyle:
  - /styles/mapbox-gl.css
  - /styles/maps.css
  - /styles/lightgallery.min.css
---
<div class="full-screen row no-gutters">
  <div class="wc-map col-md-4">
    <div class="wc-map-container h-100 w-100"></div>
  </div>

  <div id="wc-content" class="wc-content col-md-8 overflow-scroll shadow">
    <div class="wc-splash h-100 d-flex flex-column justify-content-between align-items-center">
      <div></div>
      <div class="text-center text-uppercase">
        <h1 class="font-weight-regular">{{{ locale 'wc.title' }}}</h1>
        <div>{{{ locale 'wc.subtitle' }}}</div>
      </div>
      <div class="mb-4 text-center text-white">
        <div>{{{ locale 'wc.continue' }}}</div>
        <div>
          <a href="#monterey">Monterey, CA</a>
          <span class="mx-2">|</span>
          <a href="#santa-rosa">Santa-Rosa, CA</a>
          <span class="mx-2">|</span>
          <a href="#coos-bay-portland-route">Coos Bay, OR</a>
          <span class="mx-2">|</span>
          <a href="#portland">Portland, OR</a>
          <span class="mx-2">|</span>
          <a href="#seattle">Seattle, WA</a>
          <span class="mx-2">|</span>
          <a href="#sequoia-park">Sequoia Park, CA</a>
        </div>
      </div>
    </div>

    {{#> text}}
      <blockquote class="blockquote mt-5 text-right">
        <p class="mb-2">All he needed was a wheel in his hand and four on the road.</p>
        <footer class="blockquote-footer">Jack Kerouac, <cite>On the Road</cite></footer>
      </blockquote>

      {{> subHeader name=(locale 'wc.chapters.0.title') }}
      <p>{{{ locale 'wc.chapters.0.text.0' }}}</p>
      <p>{{{ locale 'wc.chapters.0.text.1' }}}</p>
    {{/text}}

    {{> image name="1.jpg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.2' }}}</p>
    {{/text}}

    {{> image name="2.jpg" descr=(locale 'wc.chapters.0.descr.0') v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.3' }}}</p>
    {{/text}}

    {{> image name="3.jpeg" descr=(locale 'wc.chapters.0.descr.1') v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.4' }}}</p>
    {{/text}}

    {{> gallery names=(arr "4.jpeg" "5.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.5' }}}</p>
    {{/text}}

    {{> image name="6.jpeg" descr=(locale 'wc.chapters.0.descr.2') h=true}}

    {{!-- Show the start point of the jorney --}}
    <div id="la-point"></div>
    <div id="la-label"></div>
    {{#> text}}
      {{> subHeader name=(locale 'wc.chapters.1.title')}}

      <p>{{{ locale 'wc.chapters.1.text.0' }}}</p>
    {{/text}}

    {{#> text}}
     <p>{{{ locale 'wc.chapters.1.text.1' }}}</p>
    {{/text}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.2' }}}</p>
    {{/text}}

    {{> image name="8.jpg" v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.3' }}}</p>
    {{/text}}

    {{> image name="7.jpeg" descr=(locale 'wc.chapters.1.descr.0') h=true}}

    {{> gallery names=(arr "9.jpeg" "10.jpeg" "12.jpeg") descr=(locale 'wc.chapters.1.descr.1')}}

    {{> gallery names=(arr "13.jpeg" "14.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.4' }}}</p>
    {{/text}}

    {{> image name="16.jpeg" descr=(locale 'wc.chapters.1.descr.2') h=true}}

    {{> gallery names=(arr "15.jpeg" "17.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.5' }}}</p>
    {{/text}}

    {{> gallery names=(arr "18.jpeg" "20.jpeg" "19.jpeg")}}

    {{> image name="21.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.6' }}}</p>
    {{/text}}

    {{> image name="22.jpeg" descr=(locale 'wc.chapters.1.descr.3') h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.7' }}}</p>
    {{/text}}

    {{> image name="23.jpeg" descr=(locale 'wc.chapters.1.descr.4') h=true}}

    {{> image name="24.jpeg" descr=(locale 'wc.chapters.1.descr.5') h=true}}

    {{> image name="25.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.8' }}}</p>
    {{/text}}

    {{> image name="26.jpeg" h=true}}

    {{> image name="27.jpeg" descr=(locale 'wc.chapters.1.descr.6') h=true}}

    {{> video name="-J272DqxCQw"}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.9' }}}</p>
    {{/text}}

    {{> image name="28.jpeg" h=true}}

    {{> image name="29.jpeg" descr=(locale 'wc.chapters.1.descr.7') v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.10' }}}</p>
    {{/text}}

    {{> image name="31.jpeg" descr=(locale 'wc.chapters.1.descr.8') h=true}}

    {{> image name="30.jpeg" h=true}}

    {{> image name="32.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.11' }}}</p>
    {{/text}}

    {{> image name="la1947freeways.jpg" descr=(locale 'wc.chapters.1.descr.9') h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.12' }}}</p>

      <ol>
        <li class="mb-2">
          <div>{{{ locale 'wc.chapters.1.text.13' }}}</div>
          <div class="text-center mt-2">
            <img src="/images/photography/westcoast/ushighways1.png" class="img-w-100px mb-2">
          </div>
        </li>
        <li class="mb-2">
          <div>{{{ locale 'wc.chapters.1.text.14' }}}</div>
          <div class="text-center mt-2">
            <img src="/images/photography/westcoast/ushighways2.png" class="img-w-100px mb-2">
          </div>
        </li>
        <li class="mb-2">
          <div>{{{ locale 'wc.chapters.1.text.15' }}}</div>
          <div class="text-center mt-2">
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <img src="/images/photography/westcoast/ushighways31.png" class="img-w-100px mb-2 mx-1">
              <img src="/images/photography/westcoast/ushighways32.png" class="img-w-100px mb-2 mx-1">
            </div>
          </div>
        </li>
        <li>
          <div>{{{ locale 'wc.chapters.1.text.16' }}}</div>
          <div class="text-center mt-2">
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <img src="/images/photography/westcoast/ushighways41.png" class="img-w-100px mb-2 mx-1">
              <img src="/images/photography/westcoast/ushighways42.png" class="img-w-100px mb-2 mx-1">
            </div>
          </div>
        </li>
      </ol>

      <p>{{{ locale 'wc.chapters.1.text.17' }}}</p>
    {{/text}}

    {{!-- Show the end point of the jorney --}}
    <div id="seattle-point"></div>
    <div id="seattle-label"></div>
    {{#> text}}
      {{> subHeader name=(locale 'wc.chapters.2.title')}}
      <p>{{{ locale 'wc.chapters.2.text.0' }}}</p>
    {{/text}}

    {{> image name="california1.png" descr=(locale 'wc.chapters.2.descr.0') v=true width=300}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.2.text.1' }}}</p>
    {{/text}}

    <div id="la-monterey-route">
      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.2' }}}</p>
      {{/text}}

      {{> video name="GqsbSZUOSd0"}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.3' }}}</p>
      {{/text}}

      {{> image name="33.jpeg" descr=(locale 'wc.chapters.2.descr.1') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.4' }}}</p>
      {{/text}}

      {{> image name="34.jpeg" descr=(locale 'wc.chapters.2.descr.2') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.5' }}}</p>
      {{/text}}

      {{> gallery names=(arr "36.jpeg" "35.jpeg")}}

      {{> image name="37.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.6' }}}</p>
      {{/text}}

      {{> image name="38.jpeg" v=true}}

      {{> image name="39.jpeg" descr=(locale 'wc.chapters.2.descr.3') h=true}}

      {{> image name="40.jpeg" h=true}}

      {{> image name="41.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.7' }}}</p>
      {{/text}}

      {{> image name="42.jpg" h=true}}

      {{> video name="2Rs_BgB5Mds" descr=(locale 'wc.chapters.2.descr.4')}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.8' }}}</p>
      {{/text}}

      {{> image name="43.jpeg" descr=(locale 'wc.chapters.2.descr.5') h=true}}

      {{> image name="44.jpeg" v=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="monterey" name=(locale 'wc.chapters.3.title')}}

      <p>{{{ locale 'wc.chapters.3.text.0' }}}</p>
    {{/text}}

    <div id="monterey-sf-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.4.title')}}

        <p>{{{ locale 'wc.chapters.4.text.0' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.1' }}}</p>
      {{/text}}

      {{> video name="XsKaxrerfK4"}}

      {{> image name="45.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.4.text.2' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.3' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.4' }}}</p>
      {{/text}}

      {{> image name="46.jpeg" descr=(locale 'wc.chapters.4.descr.0') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.4.text.5' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.6' }}}</p>

        <ul>
          <li class="mb-2">{{{ locale 'wc.chapters.4.text.7' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.8' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs1.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.9' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs2.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.10' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.11' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs3.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.12' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.13' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.14' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.15' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs4.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.16' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs5.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.17' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs6.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.18' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs7.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.19' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs8.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.20' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.21' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.22' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs8a.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.23' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.24' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs9.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.25' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs10.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.26' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs11.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.27' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs13.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.28' }}}</div>
            <div class="text-center mt-2">
              <div class="d-flex flex-wrap justify-content-center align-items-start">
                <img src="/images/photography/westcoast/signs14.png" class="img-w-100px mb-2 mx-1">
                <img src="/images/photography/westcoast/signs15.png" class="img-w-100px mb-2 mx-1">
              </div>
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.29' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs16.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.30' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs17.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.31' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs18.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.32' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs19.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.33' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs20.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.34' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.35' }}}</li>

          <li>
            <div>{{{ locale 'wc.chapters.4.text.36' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs21.png" class="img-w-200px mb-2">
            </div>
          </li>
        </ul>
      {{/text}}
    </div>

    {{#> text}}
      {{> subHeader name=(locale 'wc.chapters.5.title')}}

      <p>{{{ locale 'wc.chapters.5.text.0' }}}</p>
      <p>{{{ locale 'wc.chapters.5.text.1' }}}</p>
      <p>{{{ locale 'wc.chapters.5.text.2' }}}</p>
    {{/text}}

    {{> image name="47.jpeg" descr=(locale 'wc.chapters.5.descr.0') h=true}}

    {{> image name="48.jpeg" descr=(locale 'wc.chapters.5.descr.1') h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.3' }}}</p>
    {{/text}}

    {{> gallery names=(arr "49.jpeg" "50.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.4' }}}</p>
    {{/text}}

    {{> gallery names=(arr "51.jpeg" "52.jpeg") descr=(locale 'wc.chapters.5.descr.2')}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.5' }}}</p>
    {{/text}}

    {{> image name="53.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.6' }}}</p>
    {{/text}}

    {{> gallery names=(arr "54.jpeg" "55.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.7' }}}</p>
      <p>{{{ locale 'wc.chapters.5.text.8' }}}</p>
    {{/text}}

    {{> image name="56.jpeg" descr=(locale 'wc.chapters.5.descr.3') h=true}}

    {{> image name="57.jpeg" h=true}}

    <div id="sf-santa-rosa-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.6.title')}}

        <p>{{{ locale 'wc.chapters.6.text.0' }}}</p>

        <p>{{{ locale 'wc.chapters.6.text.1' }}}</p>
      {{/text}}

      {{> image name="61.jpeg" descr=(locale 'wc.chapters.6.descr.0') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.2' }}}</p>
      {{/text}}

      {{> image name="64.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.3' }}}</p>
      {{/text}}

      {{> image name="65.jpeg" descr=(locale 'wc.chapters.6.descr.1') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.4' }}}</p>
      {{/text}}

      {{> image name="66.jpeg" v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.5' }}}</p>
      {{/text}}

      {{> image name="67.jpeg" descr=(locale 'wc.chapters.6.descr.2') h=true}}

      {{> image name="68.jpeg" v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.6' }}}</p>
      {{/text}}

      {{> image name="69.jpeg" descr=(locale 'wc.chapters.6.descr.3') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.7' }}}</p>
      {{/text}}

      {{> image name="70.jpeg" descr=(locale 'wc.chapters.6.descr.4') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.8' }}}</p>
        <p>{{{ locale 'wc.chapters.6.text.9' }}}</p>
      {{/text}}

      {{> image name="71.jpeg" descr=(locale 'wc.chapters.6.descr.5') h=true}}

      {{> image name="72.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.10' }}}</p>
      {{/text}}
    </div>

    {{#> text}}
      {{> subHeader anchor="santa-rosa" name=(locale 'wc.chapters.7.title')}}

      <p>{{{ locale 'wc.chapters.7.text.0' }}}</p>
    {{/text}}

    {{> gallery names=(arr "73.jpeg" "74.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.7.text.1' }}}</p>
    {{/text}}

    {{> image name="75.jpeg" descr=(locale 'wc.chapters.7.descr.0') h=true}}

    {{> image name="76.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.7.text.2' }}}</p>
    {{/text}}

    {{> image name="77.jpeg" v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.7.text.3' }}}</p>
    {{/text}}

    {{> image name="78.jpeg" h=true}}

    <div id="santa-rosa-oregon-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.8.title')}}

        <p>{{{ locale 'wc.chapters.8.text.0' }}}</p>
      {{/text}}

      {{> video name="bKDI0jsx3K8"}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.1' }}}</p>
      {{/text}}

      {{> image name="79.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.2' }}}</p>
      {{/text}}

      {{> image name="80.jpeg" h=true}}
      {{> image name="81.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.3' }}}</p>
        <p>{{{ locale 'wc.chapters.8.text.4' }}}</p>
      {{/text}}

      {{> gallery names=(arr "82.jpeg" "83.jpeg")}}

      {{> image name="88.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.5' }}}</p>
      {{/text}}

      {{> image name="84.jpeg" h=true}}
      {{> image name="85.jpeg" descr=(locale 'wc.chapters.8.descr.0') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.6' }}}</p>
      {{/text}}

      {{> image name="86.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.7' }}}</p>
        <p>{{{ locale 'wc.chapters.8.text.8' }}}</p>
      {{/text}}

      {{> image name="87.jpeg" descr=(locale 'wc.chapters.8.descr.1') v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.9' }}}</p>
      {{/text}}

      {{> gallery names=(arr "89.jpeg" "90.jpeg")}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.10' }}}</p>
      {{/text}}

      {{> image name="91.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.11' }}}</p>
      {{/text}}

      {{> image name="92.jpeg" h=true}}
      {{> image name="93.jpeg" descr=(locale 'wc.chapters.8.descr.2') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.12' }}}</p>
      {{/text}}

      {{> image name="94.jpeg" h=true}}
      {{> image name="95.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.13' }}}</p>
      {{/text}}

      {{> image name="96.jpeg" h=true}}
      {{> image name="97.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.14' }}}</p>
      {{/text}}

      {{> image name="98.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.8.text.15' }}}</p>
      {{/text}}

      {{> image name="oregon.png" v=true}}
    </div>

    <div id="coos-bay-portland-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.9.title')}}

        <p>{{{ locale 'wc.chapters.9.text.0' }}}</p>
      {{/text}}

      {{> video name="-N5ef27p3Ik"}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.9.text.1' }}}</p>
      {{/text}}

      {{> image name="99.jpeg" descr=(locale 'wc.chapters.9.descr.0') v=true}}
      {{> image name="100.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.9.text.2' }}}</p>
      {{/text}}

      {{> image name="101.jpeg" descr=(locale 'wc.chapters.9.descr.1') h=true}}
      {{> image name="102.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.9.text.3' }}}</p>
        <p>{{{ locale 'wc.chapters.9.text.4' }}}</p>
      {{/text}}

      {{> image name="103.jpeg" descr=(locale 'wc.chapters.9.descr.2') h=true}}
      {{> image name="104.jpeg" h=true}}
      {{> image name="105.jpeg" descr=(locale 'wc.chapters.9.descr.3') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.9.text.5' }}}</p>
      {{/text}}

      {{> image name="108.jpeg" descr=(locale 'wc.chapters.9.descr.4') h=true}}
      {{> image name="109.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.9.text.6' }}}</p>
      {{/text}}

      {{> gallery names=(arr "106.jpeg" "107.jpeg")}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.9.text.7' }}}</p>
        <p>{{{ locale 'wc.chapters.9.text.8' }}}</p>
      {{/text}}

      {{> image name="114.jpeg" descr=(locale 'wc.chapters.9.descr.5') h=true}}
      {{> image name="111.jpeg" v=true}}
      {{> image name="112.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.9.text.9' }}}</p>
      {{/text}}

      {{> image name="110.jpeg" h=true}}
      {{> image name="115.jpeg" v=true}}
      {{> image name="116.jpeg" h=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="portland" name=(locale 'wc.chapters.10.title')}}

      <p>{{{ locale 'wc.chapters.10.text.0' }}}</p>
      <p>{{{ locale 'wc.chapters.10.text.1' }}}</p>
    {{/text}}

    {{> image name="120.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.10.text.2' }}}</p>
    {{/text}}

    {{> gallery names=(arr "119.jpeg" "117.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.10.text.3' }}}</p>
    {{/text}}

    {{> image name="118.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.10.text.4' }}}</p>
    {{/text}}

    {{> image name="121.jpeg" h=true}}
    {{> image name="122.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.10.text.5' }}}</p>
    {{/text}}

    {{> gallery names=(arr "123.jpeg" "124.jpeg")}}
    {{> gallery names=(arr "125.jpeg" "126.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.10.text.6' }}}</p>
    {{/text}}

    {{> gallery names=(arr "127.jpeg" "128.jpeg" "129.jpeg") descr=(locale 'wc.chapters.10.descr.0')}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.10.text.7' }}}</p>
    {{/text}}

    <div id="portland-seattle-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.11.title')}}

        <p>{{{ locale 'wc.chapters.11.text.0' }}}</p>
        <p>{{{ locale 'wc.chapters.11.text.1' }}}</p>
      {{/text}}

      {{> gallery names=(arr "130.jpeg" "131.jpeg")}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.11.text.2' }}}</p>
      {{/text}}

      {{> image name="washington.jpg" v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.11.text.3' }}}</p>
      {{/text}}

      {{> image name="132.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.11.text.4' }}}</p>
      {{/text}}

      {{> image name="133.jpeg" h=true}}
      {{> image name="134.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.11.text.5' }}}</p>
        <p>{{{ locale 'wc.chapters.11.text.6' }}}</p>
      {{/text}}

      {{> image name="135.jpeg" descr=(locale 'wc.chapters.11.descr.0') h=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="seattle" name=(locale 'wc.chapters.12.title')}}

      <p>{{{ locale 'wc.chapters.12.text.0' }}}</p>
    {{/text}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.12.text.1' }}}</p>
    {{/text}}

    {{> image name="142.jpeg" descr=(locale 'wc.chapters.12.descr.0') v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.12.text.2' }}}</p>
    {{/text}}

    {{> gallery names=(arr "137.jpeg" "138.jpeg")}}

    {{> image name="136.jpeg" v=true}}

    {{> gallery names=(arr "139.jpeg" "140.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.12.text.3' }}}</p>
    {{/text}}

    {{> image name="141.jpeg" v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.12.text.4' }}}</p>
    {{/text}}

    {{> image name="143.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.12.text.5' }}}</p>
      <p>{{{ locale 'wc.chapters.12.text.6' }}}</p>
    {{/text}}

    <div id="return-astoria-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.13.title')}}

        <p>{{{ locale 'wc.chapters.13.text.0' }}}</p>
      {{/text}}

      {{> video name="yJXwKNYla14"}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.1' }}}</p>
      {{/text}}

      {{> image name="144.jpeg" h=true}}
      {{> image name="145.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.2' }}}</p>
      {{/text}}

      {{> image name="146.jpeg" descr=(locale 'wc.chapters.13.descr.0') h=true}}
    </div>

    {{#> text}}
      <p>{{{ locale 'wc.chapters.13.text.3' }}}</p>
      <p>{{{ locale 'wc.chapters.13.text.4' }}}</p>
    {{/text}}

    {{> image name="147.jpeg" descr=(locale 'wc.chapters.13.descr.1') h=true}}
    {{> image name="148.jpeg" h=true}}

    <div id="return-cannon-beach-route">
      {{> image name="149.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.5' }}}</p>
      {{/text}}
    </div>

    {{> image name="150.jpeg" descr=(locale 'wc.chapters.13.descr.2') h=true}}
    {{> image name="151.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.13.text.6' }}}</p>
      <p>{{{ locale 'wc.chapters.13.text.7' }}}</p>
    {{/text}}

    {{> image name="152.jpeg" descr=(locale 'wc.chapters.13.descr.3') h=true}}
    {{> image name="153.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.13.text.8' }}}</p>
    {{/text}}

    <div id="return-california-route">
      {{> image name="154.jpeg" h=true}}
      {{> image name="155.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.9' }}}</p>
      {{/text}}

      {{> image name="156.jpeg" h=true}}

      {{> image name="157.jpeg" v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.10' }}}</p>
      {{/text}}

      {{> image name="158.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.11' }}}</p>
      {{/text}}

      {{> image name="159.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.12' }}}</p>
      {{/text}}
    </div>

    <div id="return-sacramento-route">
      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.13' }}}</p>
        <p>{{{ locale 'wc.chapters.13.text.14' }}}</p>
      {{/text}}

      {{> image name="california.png" v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.15' }}}</p>
        <p>{{{ locale 'wc.chapters.13.text.16' }}}</p>
        <p>{{{ locale 'wc.chapters.13.text.17' }}}</p>
      {{/text}}

      {{> image name="160.jpeg" descr=(locale 'wc.chapters.13.descr.4') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.18' }}}</p>
      {{/text}}

      {{> image name="161.jpeg" descr=(locale 'wc.chapters.13.descr.5') h=true}}
    </div>

    {{#> text}}
      <p>{{{ locale 'wc.chapters.13.text.19' }}}</p>
    {{/text}}

    {{> image name="162.jpeg" h=true}}
    {{> image name="163.jpeg" h=true}}

    <div id="return-sequoia-route">
      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.20' }}}</p>
      {{/text}}

      {{> image name="164.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.21' }}}</p>
      {{/text}}

      {{> image name="165.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.13.text.22' }}}</p>
      {{/text}}

      {{#> text}}
        {{> subHeader anchor="sequoia-park" name=(locale 'wc.chapters.14.title')}}

        <p>{{{ locale 'wc.chapters.14.text.0' }}}</p>
      {{/text}}

      {{> image name="166.jpeg" h=true}}
      {{> image name="167.jpeg" h=true}}
    </div>

    {{#> text}}
      <p>{{{ locale 'wc.chapters.14.text.1' }}}</p>
    {{/text}}

    {{> image name="168.jpeg" v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.14.text.2' }}}</p>
    {{/text}}

    {{> image name="169.jpeg" descr=(locale 'wc.chapters.14.descr.0') h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.14.text.3' }}}</p>
    {{/text}}

    {{> video name="4smy-b9KvUQ" descr=(locale 'wc.chapters.14.descr.1')}}

    <div id="return-la-route">
      {{#> text}}
        <p>{{{ locale 'wc.chapters.14.text.4' }}}</p>
      {{/text}}

      {{> image name="170.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.14.text.5' }}}</p>
      {{/text}}

      {{> image name="171.jpeg" descr=(locale 'wc.chapters.14.descr.2') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.14.text.6' }}}</p>
      {{/text}}

      {{> image name="172.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.14.text.7' }}}</p>
        <p>{{{ locale 'wc.chapters.14.text.8' }}}</p>
      {{/text}}
    </div>

    <h4 class="text-uppercase text-center my-5 py-5">The End</h4>
  </div>
</div>
