---
layout: layouts/special.njk
theme: light
title: Along the West Coast
metaImage: /images/photography/westcoast/splash.jpg
pageStyle:
  - /styles/mapbox-gl.css
  - /styles/maps.css
  - /styles/lightgallery.min.css
---
<div class="full-screen row no-gutters">
  <div class="wc-map col-md-4">
    <div class="wc-map-container h-100 w-100"></div>
  </div>

  <div id="wc-content" class="wc-content col-md-8 overflow-scroll shadow">
    <div class="wc-splash h-100 d-flex flex-column justify-content-between align-items-center">
      <div></div>
      <div class="text-center text-uppercase">
        <h1 class="font-weight-regular">{{{ locale 'wc.title' }}}</h1>
        <div>{{{ locale 'wc.subtitle' }}}</div>
      </div>
      <div class="mb-4 text-center text-white">
        <div>{{{ locale 'wc.continue' }}}</div>
        <div>
          <a href="#monterey">Monterey, CA</a>
          <span class="mx-2">|</span>
          <a href="#santa-rosa">Santa-Rosa, CA</a>
          <span class="mx-2">|</span>
          <a href="#coos-bay-portland-route">Coos Bay, OR</a>
          <span class="mx-2">|</span>
          <a href="#portland">Portland, OR</a>
          <span class="mx-2">|</span>
          <a href="#seattle">Seattle, WA</a>
          <span class="mx-2">|</span>
          <a href="#sequoia-park">Sequoia Park, CA</a>
        </div>
      </div>
    </div>

    {{#> text}}
      <blockquote class="blockquote mt-5 text-right">
        <p class="mb-2">All he needed was a wheel in his hand and four on the road.</p>
        <footer class="blockquote-footer">Jack Kerouac, <cite>On the Road</cite></footer>
      </blockquote>

      {{> subHeader name=(locale 'wc.chapters.0.title') }}
      <p>{{{ locale 'wc.chapters.0.text.0' }}}</p>
      <p>{{{ locale 'wc.chapters.0.text.1' }}}</p>
    {{/text}}

    {{> image name="1.jpg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.2' }}}</p>
    {{/text}}

    {{> image name="2.jpg" descr=(locale 'wc.chapters.0.descr.0') v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.3' }}}</p>
    {{/text}}

    {{> image name="3.jpeg" descr=(locale 'wc.chapters.0.descr.1') v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.4' }}}</p>
    {{/text}}

    {{> gallery names=(arr "4.jpeg" "5.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.0.text.5' }}}</p>
    {{/text}}

    {{> image name="6.jpeg" descr=(locale 'wc.chapters.0.descr.2') h=true}}

    {{!-- Show the start point of the jorney --}}
    <div id="la-point"></div>
    <div id="la-label"></div>
    {{#> text}}
      {{> subHeader name=(locale 'wc.chapters.1.title')}}

      <p>{{{ locale 'wc.chapters.1.text.0' }}}</p>
    {{/text}}

    {{#> text}}
     <p>{{{ locale 'wc.chapters.1.text.1' }}}</p>
    {{/text}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.2' }}}</p>
    {{/text}}

    {{> image name="8.jpg" v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.3' }}}</p>
    {{/text}}

    {{> image name="7.jpeg" descr=(locale 'wc.chapters.1.descr.0') h=true}}

    {{> gallery names=(arr "9.jpeg" "10.jpeg" "12.jpeg") descr=(locale 'wc.chapters.1.descr.1')}}

    {{> gallery names=(arr "13.jpeg" "14.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.4' }}}</p>
    {{/text}}

    {{> image name="16.jpeg" descr=(locale 'wc.chapters.1.descr.2') h=true}}

    {{> gallery names=(arr "15.jpeg" "17.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.5' }}}</p>
    {{/text}}

    {{> gallery names=(arr "18.jpeg" "20.jpeg" "19.jpeg")}}

    {{> image name="21.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.6' }}}</p>
    {{/text}}

    {{> image name="22.jpeg" descr=(locale 'wc.chapters.1.descr.3') h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.7' }}}</p>
    {{/text}}

    {{> image name="23.jpeg" descr=(locale 'wc.chapters.1.descr.4') h=true}}

    {{> image name="24.jpeg" descr=(locale 'wc.chapters.1.descr.5') h=true}}

    {{> image name="25.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.8' }}}</p>
    {{/text}}

    {{> image name="26.jpeg" h=true}}

    {{> image name="27.jpeg" descr=(locale 'wc.chapters.1.descr.6') h=true}}

    {{> video name="-J272DqxCQw"}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.9' }}}</p>
    {{/text}}

    {{> image name="28.jpeg" h=true}}

    {{> image name="29.jpeg" descr=(locale 'wc.chapters.1.descr.7') v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.10' }}}</p>
    {{/text}}

    {{> image name="31.jpeg" descr=(locale 'wc.chapters.1.descr.8') h=true}}

    {{> image name="30.jpeg" h=true}}

    {{> image name="32.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.11' }}}</p>
    {{/text}}

    {{> image name="la1947freeways.jpg" descr=(locale 'wc.chapters.1.descr.9') h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.1.text.12' }}}</p>

      <ol>
        <li class="mb-2">
          <div>{{{ locale 'wc.chapters.1.text.13' }}}</div>
          <div class="text-center mt-2">
            <img src="/images/photography/westcoast/ushighways1.png" class="img-w-100px mb-2">
          </div>
        </li>
        <li class="mb-2">
          <div>{{{ locale 'wc.chapters.1.text.14' }}}</div>
          <div class="text-center mt-2">
            <img src="/images/photography/westcoast/ushighways2.png" class="img-w-100px mb-2">
          </div>
        </li>
        <li class="mb-2">
          <div>{{{ locale 'wc.chapters.1.text.15' }}}</div>
          <div class="text-center mt-2">
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <img src="/images/photography/westcoast/ushighways31.png" class="img-w-100px mb-2 mx-1">
              <img src="/images/photography/westcoast/ushighways32.png" class="img-w-100px mb-2 mx-1">
            </div>
          </div>
        </li>
        <li>
          <div>{{{ locale 'wc.chapters.1.text.16' }}}</div>
          <div class="text-center mt-2">
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <img src="/images/photography/westcoast/ushighways41.png" class="img-w-100px mb-2 mx-1">
              <img src="/images/photography/westcoast/ushighways42.png" class="img-w-100px mb-2 mx-1">
            </div>
          </div>
        </li>
      </ol>

      <p>{{{ locale 'wc.chapters.1.text.17' }}}</p>
    {{/text}}

    {{!-- Show the end point of the jorney --}}
    <div id="seattle-point"></div>
    <div id="seattle-label"></div>
    {{#> text}}
      {{> subHeader name=(locale 'wc.chapters.2.title')}}
      <p>{{{ locale 'wc.chapters.2.text.0' }}}</p>
    {{/text}}

    {{> image name="california1.png" descr=(locale 'wc.chapters.2.descr.0') v=true width=300}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.2.text.1' }}}</p>
    {{/text}}

    <div id="la-monterey-route">
      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.2' }}}</p>
      {{/text}}

      {{> video name="GqsbSZUOSd0"}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.3' }}}</p>
      {{/text}}

      {{> image name="33.jpeg" descr=(locale 'wc.chapters.2.descr.1') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.4' }}}</p>
      {{/text}}

      {{> image name="34.jpeg" descr=(locale 'wc.chapters.2.descr.2') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.5' }}}</p>
      {{/text}}

      {{> gallery names=(arr "36.jpeg" "35.jpeg")}}

      {{> image name="37.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.6' }}}</p>
      {{/text}}

      {{> image name="38.jpeg" v=true}}

      {{> image name="39.jpeg" descr=(locale 'wc.chapters.2.descr.3') h=true}}

      {{> image name="40.jpeg" h=true}}

      {{> image name="41.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.7' }}}</p>
      {{/text}}

      {{> image name="42.jpg" h=true}}

      {{> video name="2Rs_BgB5Mds" descr=(locale 'wc.chapters.2.descr.4')}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.2.text.8' }}}</p>
      {{/text}}

      {{> image name="43.jpeg" descr=(locale 'wc.chapters.2.descr.5') h=true}}

      {{> image name="44.jpeg" v=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="monterey" name=(locale 'wc.chapters.3.title')}}

      <p>{{{ locale 'wc.chapters.3.text.0' }}}</p>
    {{/text}}

    <div id="monterey-sf-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.4.title')}}

        <p>{{{ locale 'wc.chapters.4.text.0' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.1' }}}</p>
      {{/text}}

      {{> video name="XsKaxrerfK4"}}

      {{> image name="45.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.4.text.2' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.3' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.4' }}}</p>
      {{/text}}

      {{> image name="46.jpeg" descr=(locale 'wc.chapters.4.descr.0') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.4.text.5' }}}</p>
        <p>{{{ locale 'wc.chapters.4.text.6' }}}</p>

        <ul>
          <li class="mb-2">{{{ locale 'wc.chapters.4.text.7' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.8' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs1.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.9' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs2.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.10' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.11' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs3.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.12' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.13' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.14' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.15' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs4.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.16' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs5.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.17' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs6.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.18' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs7.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.19' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs8.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.20' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.21' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.22' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs8a.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.23' }}}</li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.24' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs9.png" class="img-w-200px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.25' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs10.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.26' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs11.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.27' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs13.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.28' }}}</div>
            <div class="text-center mt-2">
              <div class="d-flex flex-wrap justify-content-center align-items-start">
                <img src="/images/photography/westcoast/signs14.png" class="img-w-100px mb-2 mx-1">
                <img src="/images/photography/westcoast/signs15.png" class="img-w-100px mb-2 mx-1">
              </div>
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.29' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs16.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.30' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs17.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.31' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs18.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.32' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs19.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">
            <div>{{{ locale 'wc.chapters.4.text.33' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs20.png" class="img-w-100px mb-2">
            </div>
          </li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.34' }}}</li>

          <li class="mb-2">{{{ locale 'wc.chapters.4.text.35' }}}</li>

          <li>
            <div>{{{ locale 'wc.chapters.4.text.36' }}}</div>
            <div class="text-center mt-2">
              <img src="/images/photography/westcoast/signs21.png" class="img-w-200px mb-2">
            </div>
          </li>
        </ul>
      {{/text}}
    </div>

    {{#> text}}
      {{> subHeader name=(locale 'wc.chapters.5.title')}}

      <p>{{{ locale 'wc.chapters.5.text.0' }}}</p>
      <p>{{{ locale 'wc.chapters.5.text.1' }}}</p>
      <p>{{{ locale 'wc.chapters.5.text.2' }}}</p>
    {{/text}}

    {{> image name="47.jpeg" descr=(locale 'wc.chapters.5.descr.0') h=true}}

    {{> image name="48.jpeg" descr=(locale 'wc.chapters.5.descr.1') h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.3' }}}</p>
    {{/text}}

    {{> gallery names=(arr "49.jpeg" "50.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.4' }}}</p>
    {{/text}}

    {{> gallery names=(arr "51.jpeg" "52.jpeg") descr=(locale 'wc.chapters.5.descr.2')}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.5' }}}</p>
    {{/text}}

    {{> image name="53.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.6' }}}</p>
    {{/text}}

    {{> gallery names=(arr "54.jpeg" "55.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.5.text.7' }}}</p>
      <p>{{{ locale 'wc.chapters.5.text.8' }}}</p>
    {{/text}}

    {{> image name="56.jpeg" descr=(locale 'wc.chapters.5.descr.3') h=true}}

    {{> image name="57.jpeg" h=true}}

    <div id="sf-santa-rosa-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.6.title')}}

        <p>{{{ locale 'wc.chapters.6.text.0' }}}</p>

        <p>{{{ locale 'wc.chapters.6.text.1' }}}</p>
      {{/text}}

      {{> image name="61.jpeg" descr=(locale 'wc.chapters.6.descr.0') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.2' }}}</p>
      {{/text}}

      {{> image name="64.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.3' }}}</p>
      {{/text}}

      {{> image name="65.jpeg" descr=(locale 'wc.chapters.6.descr.1') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.4' }}}</p>
      {{/text}}

      {{> image name="66.jpeg" v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.5' }}}</p>
      {{/text}}

      {{> image name="67.jpeg" descr=(locale 'wc.chapters.6.descr.2') h=true}}

      {{> image name="68.jpeg" v=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.6' }}}</p>
      {{/text}}

      {{> image name="69.jpeg" descr=(locale 'wc.chapters.6.descr.3') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.7' }}}</p>
      {{/text}}

      {{> image name="70.jpeg" descr=(locale 'wc.chapters.6.descr.4') h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.8' }}}</p>
        <p>{{{ locale 'wc.chapters.6.text.9' }}}</p>
      {{/text}}

      {{> image name="71.jpeg" descr=(locale 'wc.chapters.6.descr.5') h=true}}

      {{> image name="72.jpeg" h=true}}

      {{#> text}}
        <p>{{{ locale 'wc.chapters.6.text.10' }}}</p>
      {{/text}}
    </div>

    {{#> text}}
      {{> subHeader anchor="santa-rosa" name=(locale 'wc.chapters.7.title')}}

      <p>{{{ locale 'wc.chapters.7.text.0' }}}</p>
    {{/text}}

    {{> gallery names=(arr "73.jpeg" "74.jpeg")}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.7.text.1' }}}</p>
    {{/text}}

    {{> image name="75.jpeg" descr=(locale 'wc.chapters.7.descr.0') h=true}}

    {{> image name="76.jpeg" h=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.7.text.2' }}}</p>
    {{/text}}

    {{> image name="77.jpeg" v=true}}

    {{#> text}}
      <p>{{{ locale 'wc.chapters.7.text.3' }}}</p>
    {{/text}}

    {{> image name="78.jpeg" h=true}}

    <div id="santa-rosa-oregon-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.8.title')}}

        <p>Из отеля выезжаем рано утром.</p>
      {{/text}}

      {{> video name="bKDI0jsx3K8"}}

      {{#> text}}
        <p>Вчерашний туман никуда не делся и все по прежнему окутано густой дымкой.</p>
      {{/text}}

      {{> image name="79.jpeg" h=true}}

      {{#> text}}
        <p>Едем проселочными дорогами и все вокруг напоминает декорации к Silent Hill.</p>
      {{/text}}

      {{> image name="80.jpeg" h=true}}
      {{> image name="81.jpeg" h=true}}

      {{#> text}}
        <p>Проезжаем небольшой городок Sebastopol, речку Russian River и какую-то кафешку с русским флагом. Кажется мы вернулись в родную гавань...</p>
        <p>В знаменитый форт Росс мы приезжаем слишком рано и он еще закрыт, решаем не ждать и ехать дальше.</p>
      {{/text}}

      {{> gallery names=(arr "82.jpeg" "83.jpeg")}}

      {{> image name="88.jpeg" h=true}}

      {{#> text}}
        <p>Снова едем вдоль побережья...</p>
      {{/text}}

      {{> image name="84.jpeg" h=true}}
      {{> image name="85.jpeg" descr="Американские горки" h=true}}

      {{#> text}}
        <p>И снова дорога то поднимается вверх на очередной холм, то спускается вниз, практически к воде.</p>
      {{/text}}

      {{> image name="86.jpeg" h=true}}

      {{#> text}}
        <p>Но потом дорога резко сворачивает вглубь материка и сквозь густой хвойный лес выходит к городку (население чуть больше 100 человек) Leggett.</p>
        <p>Здесь заканчивается California State Route 1, ну а в качестве награды за пройденный путь здесь вы кончено же можете проехать сквозь огромную секвойю и купить магнитик. Что мы и сделали (-20$).</p>
      {{/text}}


      {{> image name="87.jpeg" descr="Leggett, проезд через Секвойю" v=true}}

      {{#> text}}
        <p>Дальше мы продолжаем наш путь уже по 101 шоссе.</p>
      {{/text}}

      {{> gallery names=(arr "89.jpeg" "90.jpeg")}}

      {{#> text}}
        <p>Ясная погода чередуется с туманными участками и уже скоро начинает темнеть.</p>
      {{/text}}

      {{> image name="91.jpeg" h=true}}

      {{#> text}}
        <p>Сразу после заката мы выныриваем из леса на небольшой прибрежный участок.</p>
      {{/text}}

      {{> image name="92.jpeg" h=true}}
      {{> image name="93.jpeg" descr="Пляж в Северной Калифорнии" h=true}}

      {{#> text}}
        <p>Решаем здесь сделать небольшую остановку, насладиться видом и немного размяться перед финальным броском до Орегона.</p>
      {{/text}}

      {{> image name="94.jpeg" h=true}}
      {{> image name="95.jpeg" h=true}}

      {{#> text}}
        <p>Дорога немного отдаляется от берега, лишь изредка показывая океан. Мы едем сквозь леса, холмы и небольшие пустынные городки.</p>
      {{/text}}

      {{> image name="96.jpeg" h=true}}
      {{> image name="97.jpeg" h=true}}

      {{#> text}}
        <p>Скоро становится совсем темно и все что видно из окна машины - лишь светящиеся полосы разметки и редкие дорожные знаки.</p>
      {{/text}}

      {{> image name="98.jpeg" h=true}}

      {{#> text}}
        <p>Едем еще пару часов в полной темноте и наконец доезжаем до отеля в Кус Бэй, штат Орегон.</p>
      {{/text}}

      {{> image name="oregon.png" v=true}}
    </div>

    <div id="coos-bay-portland-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.9.title')}}

        <p>Добро пожаловать в самый "бобровый" штат! Ведь как гласит официальный слоган: Oregon - the beaver state.</p>
      {{/text}}

      {{> video name="-N5ef27p3Ik"}}

      {{#> text}}
        <p>Завтракаем панкейками в очень аутентичной американской кафешке и снова за руль.</p>
      {{/text}}

      {{> image name="99.jpeg" descr="McCullough Memorial Bridge" v=true}}
      {{> image name="100.jpeg" h=true}}

      {{#> text}}
        <p>Погода в Орегоне значительно отличается от калифорнийской, переменная облачность, местами дождь и никакого солнца (его почти и не будет вплоть до нашего возвращения в Калифорнию на обратном пути).</p>
      {{/text}}

      {{> image name="101.jpeg" descr="Вдалеке виднеются орегонские дюны - Oregon Dunes" h=true}}
      {{> image name="102.jpeg" h=true}}

      {{#> text}}
        <p>Делаем остановку и поднимаемся к старому маяку на побережье - Heceta Head Lighthouse. Маяк был построен в 1892 году и до сих пор является самым мощным на всем побережье штата Орегон.</p>
        <p>Но помимо самого маяка, с мыса на котором он установлен открываются шикарные виды на береговую линию. Океан немного штормило в тот день, поэтому пейзаж выглядел довольно сурово.</p>
      {{/text}}

      {{> image name="103.jpeg" descr="Cape Creek Bridge" h=true}}
      {{> image name="104.jpeg" h=true}}
      {{> image name="105.jpeg" descr="Виды с Heceta Head Lighthouse" h=true}}

      {{#> text}}
        <p>Чуть дальше вдоль побережья находятся Thor's Well (Колодец Тора). Это так называемые фонтаны соленой воды, по сути своей являются трещинами в прибрежных скалах, наполняемые силой прилива и периодически извергающие из себя столбы океанской воды.</p>
      {{/text}}

      {{> image name="108.jpeg" descr="Thor's Well" h=true}}
      {{> image name="109.jpeg" h=true}}

      {{#> text}}
        <p>Побережье Орегона, на самом деле, невероятно красиво. И чтобы по настоящему оценить его, наверное лучше было бы выбрать какое-нибудь более теплое время года.</p>
      {{/text}}

      {{> gallery names=(arr "106.jpeg" "107.jpeg")}}

      {{#> text}}
        <p>Но и в поздней осени с её бесконечными дождями что-то есть. Как минимум, отсутствие толп туристов и машин на дорогах.</p>
        <p>Мы доезжаем до городка Newport с его огромным мостом Yaquina Bay Bridge, выполненным в архитектурных стилях арт-деко, модерна и готики.</p>
      {{/text}}

      {{> image name="114.jpeg" descr="Yaquina Bay Bridge" h=true}}
      {{> image name="111.jpeg" v=true}}
      {{> image name="112.jpeg" h=true}}

      {{#> text}}
        <p>Здесь же мы сворачиваем со 101 шоссе и с побережья в сторону материка, чтобы до ночи успеть доехать до отеля.</p>
      {{/text}}

      {{> image name="110.jpeg" h=true}}
      {{> image name="115.jpeg" v=true}}
      {{> image name="116.jpeg" h=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="portland" name=(locale 'wc.chapters.10.title')}}

      <p>Практически сразу после заката приезжаем в Портланд, крупнейший город (но не столица) штата.</p>
      <p>Два факта, которые я знал про город до этого, это то что здесь живет писатель Чак Паланик и что здесь находится больше всего пивоварен, чем в любом другом городе мира.</p>
    {{/text}}

    {{> image name="120.jpeg" h=true}}

    {{#> text}}
      <p>По дороге в отель еще заезжаем на смотровую точку, расположенную на одном из городских холмов.</p>
    {{/text}}

    {{> gallery names=(arr "119.jpeg" "117.jpeg")}}

    {{#> text}}
      <p>Весь центр города отсюда видно как на ладони. Жаль из-за облачности не видно знаменитую гору Mount Hood, которая обычно украшает местный скайлайн.</p>
    {{/text}}

    {{> image name="118.jpeg" h=true}}

    {{#> text}}
      <p>После отеля выходим немного побродить по ночному даунтауну.</p>
    {{/text}}

    {{> image name="121.jpeg" h=true}}
    {{> image name="122.jpeg" h=true}}

    {{#> text}}
      <p>На улицах почти никого нет, наверное сказывается осень и не самая лучшая погода.</p>
    {{/text}}

    {{> gallery names=(arr "123.jpeg" "124.jpeg")}}
    {{> gallery names=(arr "125.jpeg" "126.jpeg")}}

    {{#> text}}
      <p>На следующее утро еще немного исследуем город в окрестностях St. Johns Bridge.</p>
    {{/text}}

    {{> gallery names=(arr "127.jpeg" "128.jpeg" "129.jpeg") descr="St. Johns Bridge"}}

    {{#> text}}
      <p>Заезжаем в портлендский Apple Store, в штате Орегон отсутствует налог с продаж и из-за этого здесь самые низкие цены на технику Apple, беру новый iPhone и дальше уже буду достаточно часто снимать поездку на него.</p>
    {{/text}}

    <div id="portland-seattle-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.11.title')}}

        <p>Мы уезжаем из Портленда и направляемся в конечную точку нашего путешествия - в Сиэтл.</p>
        <p>Решаем еще доехать до известных водопадов Multnomah Falls.</p>
      {{/text}}

      {{> gallery names=(arr "130.jpeg" "131.jpeg")}}

      {{#> text}}
        <p>Через мост с красивым названием Bridge of the Gods мы пересекаем реку Columbia и въезжаем в штат Вашингтон.</p>
      {{/text}}

      {{> image name="washington.jpg" v=true}}

      {{#> text}}
        <p>Весь день идет дождь и чем дальше на север тем сильнее.</p>
      {{/text}}

      {{> image name="132.jpeg" h=true}}

      {{#> text}}
        <p>На подъездах к Сиэтлу машин становится ощутимо больше и начинают образовываться пробки.</p>
      {{/text}}

      {{> image name="133.jpeg" h=true}}
      {{> image name="134.jpeg" h=true}}

      {{#> text}}
        <p>Окончательно темнеет, мы не спеша ползем в плотном потоке машин.</p>
        <p>Пару часов в таком темпе и вот на горизонте появляется силуэт даунтауна Сиэтла.</p>
      {{/text}}

      {{> image name="135.jpeg" descr="Очертания ночного Сиэтла" h=true}}
    </div>

    {{#> text}}
      {{> subHeader anchor="seattle" name=(locale 'wc.chapters.12.title')}}

      <p>Мы в конечной точке нашего маршрута, впереди только обратный путь.</p>
    {{/text}}

    {{#> text}}
      <p>Заселяемся в отель недалеко от центра города. Из окна виднеется один из символов города - телебашня Space Needle.</p>
    {{/text}}

    {{> image name="142.jpeg" descr="Space Needle" v=true}}

    {{#> text}}
      <p>Заказываем пиццу, а потом решаем немного пройтись по вечернему городу.</p>
    {{/text}}

    {{> gallery names=(arr "137.jpeg" "138.jpeg")}}

    {{> image name="136.jpeg" v=true}}

    {{> gallery names=(arr "139.jpeg" "140.jpeg")}}

    {{#> text}}
      <p>Натыкаемся на магазинчик с говорящим названием Downtown Spirits и отправляемся праздновать знаковый момент нашего путешествия.</p>
    {{/text}}

    {{> image name="141.jpeg" v=true}}

    {{#> text}}
      <p>Утром перед отъездом идем пешком до смотровой с которой открывается знаменитый вид на центр Сиэтла. Здесь так же как и в Портленде должна была быть своя гора на горизонте Mount Rainier, но так же как и тогда все было скрыто за плотными серыми облаками.</p>
    {{/text}}

    {{> image name="143.jpeg" h=true}}

    {{#> text}}
      <p>В то дождливое осеннее утро на смотровой не было никого кроме нас и одного бездомного бедняги, спавшего под зонтом.</p>
      <p>Мы выезжаем в обратный путь, впереди еще где-то около 1500 миль и все те же 3 штата.</p>
    {{/text}}

    <div id="return-astoria-route">
      {{#> text}}
        {{> subHeader name=(locale 'wc.chapters.13.title')}}

        <p>Отстояв в утренних пробках мы выезжаем из города и сворачиваем опять к побережью на 101 шоссе.</p>
      {{/text}}

      {{> video name="yJXwKNYla14"}}

      {{#> text}}
        <p>Берег здесь сильно испещрен лиманами и болотами, поэтому дорога сильно петляет, открывая иногда вполне себе таежные пейзажи.</p>
      {{/text}}

      {{> image name="144.jpeg" h=true}}
      {{> image name="145.jpeg" h=true}}

      {{#> text}}
        <p>Мы подъезжаем к границе Вашингтона и Орегона, проходящей по реке Коламбия. Река здесь перед впадением в океан образует очень широкую дельту, мы пересекаем ее по очень длинному (около 6 км) мосту и попадаем в городок Астория, штат Орегон.</p>
      {{/text}}

      {{> image name="146.jpeg" descr="Astoria-Megler Bridge" h=true}}
    </div>

    {{#> text}}
      <p>Астория - обычный маленький городок западного побережья США, он ничем бы не выделялся на фоне сотни других таких городов, но кто-то в 1926 году решил построить на местном холме римскую колонну со смотровой площадкой на верху.</p>
      <p>С площадки можно хорошо осмотреть окрестности: сам город, реку с мостом, все побережье и океан.</p>
    {{/text}}

    {{> image name="147.jpeg" descr="Дельта реки Коламбия" h=true}}
    {{> image name="148.jpeg" h=true}}

    <div id="return-cannon-beach-route">
      {{> image name="149.jpeg" h=true}}

      {{#> text}}
        <p>Проехав еще немного мы доезжаем до места под названием Cannon Beach.</p>
      {{/text}}
    </div>

    {{> image name="150.jpeg" descr="Cannon Beach" h=true}}
    {{> image name="151.jpeg" h=true}}

    {{#> text}}
      <p>Скалистый лесной берег здесь сменяется широким песчаным пляжем с камышом, с огромной одинокой скалой торчащей в нескольких десятках метров от берега.</p>
      <p>Мы застаем отлив, поэтому пляж выглядит еще шире, а волны кажутся застывшими на месте.</p>
    {{/text}}

    {{> image name="152.jpeg" descr="Haystack Rock" h=true}}
    {{> image name="153.jpeg" h=true}}

    {{#> text}}
      <p>Световой день уже довольно короткий и солнце все ближе подбирается к горизонту. Мы садимся в машину и отправляемся дальше, с твердым желанием за оставшуюся часть дня проехать весь штат Орегон.</p>
    {{/text}}

    <div id="return-california-route">
      {{> image name="154.jpeg" h=true}}
      {{> image name="155.jpeg" h=true}}

      {{#> text}}
        <p>Сумерки, хвойные леса и редко встречающиеся по пути лесовозы.</p>
      {{/text}}

      {{> image name="156.jpeg" h=true}}

      {{> image name="157.jpeg" v=true}}

      {{#> text}}
        <p>Мы возвращаемся обратно на 5-ый интерстейт, ставим машину на круиз и едем так до самой глубокой ночи.</p>
      {{/text}}

      {{> image name="158.jpeg" h=true}}

      {{#> text}}
        <p>На ночевку мы останавливаемся в каком-то маленьком городке недалеко от границы с Калифорнией, название которого я уже и не помню.</p>
      {{/text}}

      {{> image name="159.jpeg" h=true}}

      {{#> text}}
        <p>Рано утром, после завтрака опять выезжаем на интерстейт. Надо сказать, что езда по таким межштатным магистралям не так интересна, как по маленьким дорогам, но зато позволяет сильно сэкономить время и быстро доехать куда нужно.</p>
      {{/text}}
    </div>

    <div id="return-sacramento-route">
      {{#> text}}
        <p>Снова Калифорния, удивляет то, что как только мы пересекли границу штатов, до этого хмурое небо сразу стало идеально чистым. It's always sunny in California.</p>
        <p>Но погода на самом деле обманчива и как только выходишь из машины сразу ощущаешь, что на самом деле на улице довольно прохладно.</p>
      {{/text}}

      {{> image name="california.png" v=true}}

      {{#> text}}
        <p>На горизонте появляется высокая гора, это Шаста и на самом деле это спящий вулкан.</p>
        <p>Тут стоило бы рассказать, что на самом деле очень многие вершины Каскадных гор (хребет проходящий вдоль всего западного побережья Северной Америки) являются вулканами и входят в так называемое Тихоокеанское вулканическое огненное кольцо - системы вулканов вдоль всей границы литосферной плиты под Тихим океаном.</p>
        <p>Да, все эти горы с пейзажей Сиэтла и Портланда (Mount Rainier и Mount Hood) являются спящими вулканами, которые точно будут извергаться в будущем. На сколько близком, может сказать только Геологическая служба США, которая и мониторит сейсмическую активность данных вершин.</p>
      {{/text}}

      {{> image name="160.jpeg" descr="Mount Shasta" h=true}}

      {{#> text}}
        <p>Еще мы заезжаем на расположенную слегка в стороне от дороги дамбу с одноименным названием Shasta Dam. Дамба была построена в 1945 году и используются для выработки электричества, хранения пресной воды и контроля над наводнениями. Причем приехать и пройтись по ней может любой желающий, вход свободный.</p>
      {{/text}}

      {{> image name="161.jpeg" descr="Shasta Dam" h=true}}
    </div>

    {{#> text}}
      <p>К вечеру мы добираемся до Сакраменто, столицы штата, но отнюдь не самому большому городу.</p>
    {{/text}}

    {{> image name="162.jpeg" h=true}}
    {{> image name="163.jpeg" h=true}}

    <div id="return-sequoia-route">
      {{#> text}}
        <p>На следующее утро едем дальше. По мере приближения к огромной агломерации Bay Area пейзаж за окном все более урбанизируется, а на дорогах становится все больше машин.</p>
      {{/text}}

      {{> image name="164.jpeg" h=true}}

      {{#> text}}
        <p>После Сан-Хосе мы сворачиваем и уходим вглубь штата по направлению к горам Сьерра-Невада.</p>
      {{/text}}

      {{> image name="165.jpeg" h=true}}

      {{#> text}}
        <p>Хотим заехать в Национальный парк секвой. Уже ноябрь и в горах уже может лежать снег, по этому предварительно звоним в парк и узнаем возможен ли проезд без цепей.</p>
      {{/text}}

      {{#> text}}
        {{> subHeader anchor="sequoia-park" name=(locale 'wc.chapters.14.title')}}

        <p>Дорога превращается в серпантин и начинает круто забирать вверх.</p>
      {{/text}}

      {{> image name="166.jpeg" h=true}}
      {{> image name="167.jpeg" h=true}}
    </div>

    {{#> text}}
      <p>По мере подъема природа меняется, деревья становятся выше и появляются первые секвойи.</p>
    {{/text}}

    {{> image name="168.jpeg" v=true}}

    {{#> text}}
      <p>Доезжаем до места, которое называется "Гигантский лес". Здесь растет самое большое (по объему, а не высоте) дерево на планете - секвойя гигантская Генерал Шерман. Возраст дерева примерно 2300-2700 лет и растет он в окружении таких же великанов.</p>
    {{/text}}

    {{> image name="169.jpeg" descr="General Sherman" h=true}}

    {{#> text}}
      <p>Прямо около парковки, совсем рядом с машиной встречаем дикого оленя!</p>
    {{/text}}

    {{> video name="4smy-b9KvUQ" descr="Дикий олень"}}

    <div id="return-la-route">
      {{#> text}}
        <p>День клонится к вечеру и чтобы не ехать по горам в темноте решаем спускаться вниз.</p>
      {{/text}}

      {{> image name="170.jpeg" h=true}}

      {{#> text}}
        <p>И по пути застаем красивейший огненный закат.</p>
      {{/text}}

      {{> image name="171.jpeg" descr="Sierra Nevada" h=true}}

      {{#> text}}
        <p>Переночевав последнюю ночь в мотеле на подъездах к Лос-Анджелесу, мы за пару часов добираемся до аэропорта.</p>
      {{/text}}

      {{> image name="172.jpeg" h=true}}

      {{#> text}}
        <p>Машина сдана, чемоданы собраны и мы сидим в лаунже ожидая нашего обратного рейса.</p>
        <p>3 штата, 6 крупных городов и десятки маленьких, 12 мотелей, 5500 км дорог, 450 литров бензина и огромное количество впечатлений. Я начинаю разбирать фотографии и сажусь писать этот отчет.</p>
      {{/text}}
    </div>

    <h4 class="text-uppercase text-center my-5 py-5">The End</h4>
  </div>
</div>
